appdirs==1.4.3
dj-database-url==0.4.2
Django==2.0.1
djangorestframework==3.7.7
gunicorn==19.7.1
httpie==0.9.9
packaging==16.8
psycopg2==2.7.3.2
Pygments==2.2.0
pyparsing==2.2.0
pytz==2017.2
requests==2.18.4
six==1.11.0
whitenoise==3.3.1
