{% extends "base.html" %}

{% block "content" %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Course List</h1>

            <ol>
            {% for course in course_list %}
            <!-- { for course in courses }  this is for function based views -->
            <!-- this is the default name used my the class view -->
                <li>
                    <a href="{{ course.get_absolute_url }}">{{ course.name }}</a></li>
                <!--
                replaced with the one that has links
                <li>{{ course.name }}</li>
                -->

                <ul>
                    {% for student in course.students.all %}
                        <li>{{ student }}</li>
                    {% endfor %}
                </ul>

            {% endfor %}
            </ol>

        </div>
    </div>
</div>

{% endblock %}